#Titulo {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 700;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    max-width: 300px;
    text-align: center;
    font-family: 'Outfit';
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.hidden-info {
    display: none;
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}

.title {
    color: grey;
    font-size: 18px;
}

.infoButton {
    border: none;
    padding: 8px;
    outline-style: solid;
    outline-color: rgb(27, 127, 221);
    color: rgb(27, 127, 221);
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.4s, color 0.4s;
}

.infoButton:hover {
    background-color: rgb(27, 127, 221);
    color: rgb(255, 255, 255);
    outline-color: rgb(27, 127, 221);
    font-weight: 450;
}

.form-header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 700;
}

#contact_form {
    background-color: #f5f5f5;
    padding: 40px;
    margin: 50px auto;
    width: 100%;
    border-radius: 5px;
}

#contact_form .row label {
    display: block;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 10px;
}

#contact_form .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
}

#contact_form #submit_button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

#contact_form #submit_button:hover {
    background-color: #0056b3;
}

#message {
    resize:none;
}

#submit_button {
    margin-right:50% !important;
}