#iplLogo {
    height: 80px;
    width: 200px;
    margin-left: 120px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 150px;
    font-weight: 500;
    font-size: 18px;
}

html body {
    font-family: 'Outfit';
}

.carousel-item {
    background-color: #6e6e6e6e;
    color: white;
    height: 500px;
}

.carousel-caption {
    position: relative;
    width: 100%;
    top: 30%;
    z-index: 1 !important;
}

.carousel-caption h1 {
    font-size: 100px;
    letter-spacing: 4px;
    font-weight: bolder;
    position: absolute;
    color: rgb(0, 0, 0);
}

.carousel-caption p {
    font-size: 25px;
    position: absolute;
    margin-top: 6%;
    color: rgb(14, 14, 14);
}

.carousel-caption img {
    position: relative;
    width: 250px;
    height: 250px;
    transform: translateY(-18%);
    margin-left: 25%;
}

#contactosButton {
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgb(27, 127, 221);
    color: rgb(27, 127, 221);
}

.navbar-light .navbar-nav .nav-link {
    margin: 10px;
}

.divPaises {
    background-color: white;
    height: 650px;
}

.divPaises h1 {
    font-size: 56px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 50px 0px 25px 0px;
    text-align: center;
}

.divPaises p {
    font-size: 16px;
    margin-bottom: 2%;
    color: rgb(14, 14, 14);
    text-align: center;
}

.lista-Paises .card-Pais {
    margin-top: 35px;
}

.bannerMid {
    background-image: url(https://wallpapercave.com/wp/wp6848917.jpg);
    height: 400px;
    background-position: center 30%;
    background-size: cover;
}

.bannerMid h1 {
    font-size: 56px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    filter: drop-shadow(5px 5px 4px #000000);
    padding-top: 50px;
}

.bannerMid p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 25px;
    max-width: 1000px;
    margin: auto;
}